<div class="body container">
  <!-- This is Body -->
  <!--<app-data-binding></app-data-binding>
  <app-directives></app-directives>-->
  <!--<app-task-status></app-task-status>
  <app-product-list></app-product-list>-->
  <!--<app-emp-table></app-emp-table>
  <app-employee-crud></app-employee-crud>
  <app-pipes-demo></app-pipes-demo>
  <app-products></app-products>
  <app-employee></app-employee>
  <app-user-list></app-user-list>
   <app-employee-list></app-employee-list>
   <app-comment-list></app-comment-list>
  <app-parent></app-parent>-->

  <app-observable-demo1></app-observable-demo1>
 

</div>
