<p>newuser-list works!</p>

<table class="table table-bordered text-center">
    <thead>
        <th>Name</th>
        <th>Id</th>
        <th>userName</th>
        <th>address,City</th>
        <th>Phone</th>
        <th>Email</th>
    </thead>
    <tbody>
    @for(user of newUserArr();track $index){
        <tr>
            <td>{{user.name}}</td>
            <td>{{user.id}}</td>
            <td>{{user.username}}</td>
            <td>{{user.address.city}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.email}}</td>
        </tr>
    }
</tbody>
</table>
<div>
    <form>
    <input type="text" name="name"placeholder="Name" [(ngModel)]="newEmployee.name">
    <input type="text" name="id"placeholder="Id" [(ngModel)]="newEmployee.id">
    <input type="text" name="username"placeholder="Username" [(ngModel)]="newEmployee.username">
    <input type="text" name="city"placeholder="City" [(ngModel)]="newEmployee.address.city"required>
    <input type="text" name="phone"placeholder="Phone" [(ngModel)]="newEmployee.phone">
    <input type="email" name="email"placeholder="Email" [(ngModel)]="newEmployee.email">
</form>
    <button (click)="AddDataToTable()">Add</button>
</div>
